@font-face {
    font-family: "Penna";
    src: url("/font/penna.woff") format('woff');
}

body {
  padding-top: 70px;
}

a {
  color: rgb(45, 189, 0);
}

a:hover {
  color: rgb(45, 189, 0);
}

a:active {
  color: rgb(22, 124, 0);
}

a:visited {
  color: rgb(45, 189, 0);
}

h1 {
  font-family: sans-serif;
}

.navbar-brand {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-brand img {
  height: 44px;
}

.jumbotron {
  background-color: rgb(248, 248, 248);
}

.jumbotron h1 {
  font-size: 48px;
}

.ranking-item {
  padding: 30px 0 15px 0;
  border-bottom: solid 1px #eee;
}

.ranking-item .rank {
  font-size: 60px;
  font-family: sans-serif;
  color: #777;
  text-align: center;
}

.ranking-item .author img {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  text-align: center;
  margin-top: 10px;
}

.ranking-item .item h2 {
  font-family: sans-serif;
  margin: 10px 0 6px 0;
}

.ranking-item .item .tags .tag {
  color: #777;
  background-color: rgb(248, 248, 248);
  padding: 4px 10px;
  margin-right: 6px;
  border-radius: 4px;
}

.ranking-item .item .date {
  font-family: sans-serif;
  font-size: 14px;
  color: #777;
  padding-bottom: 4px;
}

.ranking-item .item .score {
  font-family: sans-serif;
  font-size: 18px;
  color: #777;
}