body {
  padding-top: 70px;
}

a {
  color: rgb(45, 189, 0);
}

a:hover {
  color: rgb(45, 189, 0);
}

a:active {
  color: rgb(22, 124, 0);
}

a:visited {
  color: rgb(45, 189, 0);
}

h1 {
  font-family: sans-serif;
}

footer {
  margin-top: 15px;
  border-top: solid 1px rgb(221, 221, 221);
  padding: 10px 0;
  color: #777;
  text-align: right;
}

.navbar-default {
  background-color: #fff;
  border-color: rgb(221, 221, 221);
}

.navbar-default .navbar-nav>li.icon>a {
  font-size: large;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li.active>a:hover {
  color: rgb(45, 189, 0);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: rgb(248, 248, 248)
}

.navbar-brand {
  padding-top: 3px;
  padding-bottom: 3px;
}

.navbar-brand img {
  height: 44px;
}

.jumbotron {
  font-family: sans-serif;
  background-color: rgb(248, 248, 248);
}

.jumbotron h1 {
  font-family: sans-serif;
  font-size: 48px;
}

.searchable {
}

.nav-tabs>li>a:hover {
  background-color: rgb(248, 248, 248);
  border: solid 1px rgb(248, 248, 248);
  border-bottom-color: rgb(221, 221, 221);
}

.search {
  margin-top: 15px;
  padding: 15px;
}

.ranking-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.ranking-table>.item {
  display: table-row;
}

.ranking-table>.item>.rank {
  display: table-cell;
  padding: 30px 0 15px 0;
  width: 105px;
  font-size: 60px;
  font-family: sans-serif;
  color: #777;
  text-align: center;
  vertical-align: middle;
}

.ranking-table>.item>.author {
  display: table-cell;
  padding: 30px 0 15px 0;
  width: 105px;
  text-align: center;
  vertical-align: middle;
}

.ranking-table>.item>.author img {
  width: 64px;
}

.ranking-table>.item>.main {
  display: table-cell;
  padding: 15px 0 15px 20px;
  vertical-align: middle;
}

.ranking-table>.item>.main>.tags {
}

.ranking-table>.item>.main>.tags>.tag {
  font-family: sans-serif;
  color: #777;
  background-color: rgb(248, 248, 248);
  padding: 4px 10px;
  margin: 0 2px 6px 0;
  border-radius: 4px;
  outline: 0;
  border: none 0;
}

.ranking-table>.item>.main>h2 {
  margin: 6px 0;
  font-family: sans-serif;
  word-wrap: break-word;
}

.ranking-table>.item>.main>.date {
  font-family: sans-serif;
  font-size: 14px;
  color: #777;
  padding-bottom: 4px;
}

.ranking-table>.item>.main>.score {
  font-family: sans-serif;
  font-size: 18px;
  color: #777;
}

.ranking-table>.item:not(:first-child)>div {
  border-top: solid 1px rgb(221, 221, 221);
}

@media screen and (max-width: 768px) {
  .ranking-table>.item>.rank {
    width: 75px;
  }

  .ranking-table>.item>.author {
    width: 75px;
  }

  .ranking-table>.item>.main {
    padding-left: 0;
  }
}
