---
layout: common
js: "index.js"
---
    <div class="container">
      <div class="jumbotron">
        <h1>見逃してない？その投稿。</h1>
        <p>（※現在開発中です）Qaleidospace は <a href="http://qiita.com/" target="_blank">Qiita</a> の投稿を独自のアルゴリズムで評価し、ランキング化するサービスです。ストック数だけでは測れない、「見逃せない投稿」をチェックできます。</p>
      </div>
    </div>

    <div class="container">
      <ul id="ranking-tabs" class="nav nav-tabs">
        <li role="presentation" class="active" data-type="72hours"><a href="#">72 Hours</a></li>
        <li role="presentation" data-type="daily"><a href="#">Daily</a></li>
        <li role="presentation" data-type="weekly"><a href="#">Weekly</a></li>
        <li role="presentation" data-type="monthly"><a href="#">Monthly</a></li>
        <li role="presentation" data-type="yearly"><a href="#">Yearly</a></li>
      </ul>
      <div class="row">
        <div class="search col-md-4 col-sm-6 col-xs-12">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="タグを入力して下さい。" />
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">検索</button>
            </span>
          </div>
        </div>
      </div>
      {% include ranking.html ranking=site.data.72hours type="72hours" %}
      {% include ranking.html ranking=site.data.daily type="daily" %}
      {% include ranking.html ranking=site.data.weekly type="weekly" %}
      {% include ranking.html ranking=site.data.monthly type="monthly" %}
      {% include ranking.html ranking=site.data.yearly type="yearly" %}
    </div>
