<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="img/logo.png" alt="Qaleidospace" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% include nav-item.html title="Home" link="/" page-url="/" %}
        {% include nav-item.html title="About" link="http://qiita.com/koher/items/b5c7c949aa62c60d5457" page-url="/about.html" %}
        {% include nav-item.html title="<i class=\"fa fa-github\"></i>" icon="true" link="https://github.com/qaleidospace" page-url="/github.html" %}
        {% include nav-item.html title="<i class=\"fa fa-twitter\"></i>" icon="true" link="https://twitter.com/Qaleidospace" page-url="/twitter.html" %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
