<div class="container ranking-item">
  <div class="rank col-md-1 col-xs-2">
    {{ include.item.rank }}
  </div>
  <div class="author col-md-1 col-xs-2">
    <a href="https://qiita.com/{{ include.item.user.id | uri_escape }}">
      <img src="{{ include.item.user.profile_image_url }}" alt="{{ include.item.user.id | xml_escape }}" />
    </a>
  </div>
  <div class="item col-md-10 col-xs-8">
    <div class="tags">
      {% for tag in include.item.tags %}
      <span class="tag">{{ tag.name | xml_escape }}</span>
      {% endfor %}
    </div>
    <h2><a href="{{ include.item.url }}">{{ include.item.title | xml_escape }}</a></h2>
    <div class="date">{% assign dates = include.item.created_at | split: 'T' %}{{ dates[0] }}</div>
    <div class="score">{{ include.item.score }} pt</div>
  </div>
</div><!-- /.container -->
